body {
  background: #0f172a;
  color: #fff;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.container {
  width: 360px;
  background: #111827;
  padding: 20px;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 14px;
  color: #9ca3af;
}

input {
  width: 100%;
  margin: 6px 0;
  padding: 8px;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  background: #38bdf8;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

#result {
  margin-top: 15px;
  background: #020617;
  padding: 10px;
  border-radius: 6px;
}
